In [13]:
# Import findspark to read SPARK_HOME and HADOOP_HOME
import findspark
findspark.init()

In [14]:
# Import required library
from pyspark.sql import SparkSession

# Create Spark Session
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

In [15]:
# Print Spark object ID
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f9a948eea90>

In [16]:
# Datasets can be downloaded from https://catalog.data.gov/dataset/crimes-2001-to-present-398a4

df3 = spark.read.csv("epa_co_daily_summary.csv", header=True, inferSchema=True)

In [17]:
df3.count()

8064820

In [18]:
df3.show()

+----------+-----------+--------+--------------+---+---------+-----------+-------+---------------+--------------------+------------------+-------------------+-----------------+----------+-----------------+-------------------+---------------+---------------+--------------+----+-----------+--------------------+--------------------+--------------------+--------------+--------------+----------------+--------------------+-------------------+
|state_code|county_code|site_num|parameter_code|poc| latitude|  longitude|  datum| parameter_name|     sample_duration|pollutant_standard|         date_local| units_of_measure|event_type|observation_count|observation_percent|arithmetic_mean|first_max_value|first_max_hour| aqi|method_code|         method_name|     local_site_name|             address|    state_name|   county_name|       city_name|           cbsa_name|date_of_last_change|
+----------+-----------+--------+--------------+---+---------+-----------+-------+---------------+--------------------+------------------+-------------------+-----------------+----------+-----------------+-------------------+---------------+---------------+--------------+----+-----------+--------------------+--------------------+--------------------+--------------+--------------+----------------+--------------------+-------------------+
|         6|         73|       5|         42101|  1| 33.20265|-117.365925|  NAD27|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|1994-02-01 00:00:00|Parts per million|      None|               24|              100.0|       1.129167|            1.9|             8|null|         66|INSTRUMENTAL - NO...|Oceanside-Mission...|1701 MISSION AVE....|    California|     San Diego|       Oceanside|San Diego-Carlsba...|2016-04-27 00:00:00|
|        39|        113|      28|         42101|  1|39.787222| -84.226111|  NAD83|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|1996-04-29 00:00:00|Parts per million|      None|               24|              100.0|       0.533333|            1.2|            17|null|         67|INSTRUMENTAL - NO...|                FROC|901 WEST FAIRVIEW...|          Ohio|    Montgomery|          Dayton|           Dayton OH|2016-04-26 00:00:00|
|        30|         31|      16|         42101|  1|44.661393|-111.105891|  WGS84|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|2010-05-06 00:00:00|Parts per million|      None|               23|               96.0|       0.156522|            0.3|            22|null|         93|INSTRUMENTAL - GA...|West Yellowstone ...|               ALLEY|       Montana|      Gallatin|West Yellowstone|          Bozeman MT|2016-04-10 00:00:00|
|        51|         13|      20|         42101|  1|  38.8577|  -77.05922|  WGS84|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|2005-05-05 00:00:00|Parts per million|      None|               24|              100.0|         0.2875|            0.8|             5|null|         67|INSTRUMENTAL - NO...|Aurora Hills Visi...| S 18TH AND HAYES ST|      Virginia|     Arlington|       Arlington|Washington-Arling...|2016-04-21 00:00:00|
|         6|         65|    8001|         42101|  1| 33.99958| -117.41601|  WGS84|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|2005-06-19 00:00:00|Parts per million|      None|               23|               96.0|       0.321739|            0.6|             5|null|         67|INSTRUMENTAL - NO...|            Rubidoux|5888 MISSION BLVD...|    California|     Riverside|        Rubidoux|Riverside-San Ber...|2016-04-21 00:00:00|
|        32|         31|    1005|         42101|  1|39.540917|-119.746761|  WGS84|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|2012-09-29 00:00:00|Parts per million|      None|               24|              100.0|       0.383333|            0.8|             6|null|         93|INSTRUMENTAL - GA...|              Sparks|750 4TH ST SPARKS...|        Nevada|        Washoe|          Sparks|             Reno NV|2016-04-09 00:00:00|
|        34|         39|       3|         42101|  1|40.662389| -74.214817|  WGS84|Carbon monoxide|8-HR RUN AVG END ...|    CO 8-hour 1971|2016-06-06 00:00:00|Parts per million|      None|               24|              100.0|          0.375|            0.4|             0|   5|       null|                   -|           Elizabeth|      7 Broad Street|    New Jersey|         Union|       Elizabeth|New York-Newark-J...|2017-03-17 00:00:00|
|        23|          3|    1100|         42101|  1|46.696431| -68.033006|  NAD83|Carbon monoxide|8-HR RUN AVG END ...|    CO 8-hour 1971|2010-09-03 00:00:00|Parts per million|      None|               24|              100.0|         0.1875|            0.2|             0|   2|       null|                   -|MICMAC HEALTH DEP...|8 NORTHERN ROAD P...|         Maine|     Aroostook|    Presque Isle|                null|2011-02-01 00:00:00|
|        48|        439|    3011|         42101|  1|32.656357| -97.088585|  NAD83|Carbon monoxide|8-HR RUN AVG END ...|    CO 8-hour 1971|2009-07-16 00:00:00|Parts per million|      None|               24|              100.0|            0.2|            0.2|             0|   2|       null|                   -|Arlington Municip...|5504 South Collin...|         Texas|       Tarrant|       Arlington|Dallas-Fort Worth...|2016-04-11 00:00:00|
|         9|          3|      17|         42101|  1|41.769167| -72.670278|  WGS84|Carbon monoxide|8-HR RUN AVG END ...|    CO 8-hour 1971|2008-07-20 00:00:00|Parts per million|      None|               24|              100.0|       1.008333|            1.3|             0|  15|       null|                   -|                null|COURTHOUSE 155 MO...|   Connecticut|      Hartford|        Hartford|Hartford-West Har...|2016-04-11 00:00:00|
|        30|        111|      82|         42101|  1|45.783889|   -108.515|  NAD27|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|1999-09-16 00:00:00|Parts per million|      None|               24|              100.0|         1.2875|            3.2|            20|null|         93|INSTRUMENTAL - GA...|BLGS BRIDAL SHOP ...|BLGS BRIDAL SHOP ...|       Montana|   Yellowstone|        Billings|         Billings MT|2016-04-19 00:00:00|
|        36|          5|     133|         42101|  1|  40.8679|  -73.87809|  WGS84|Carbon monoxide|8-HR RUN AVG END ...|    CO 8-hour 1971|2016-06-15 00:00:00|Parts per million|      None|               24|              100.0|       0.258333|            0.3|             6|   3|       null|                   -|     PFIZER LAB SITE|200TH STREET AND ...|      New York|         Bronx|        New York|New York-Newark-J...|2017-02-10 00:00:00|
|        37|         67|      25|         42101|  1|36.097222| -80.276944|UNKNOWN|Carbon monoxide|8-HR RUN AVG END ...|    CO 8-hour 1971|1993-03-17 00:00:00|Parts per million|      None|               18|               75.0|       1.222222|            1.9|             0|  22|       null|                   -|                null| 100 SW STRATFORD RD|North Carolina|       Forsyth|   Winston-Salem|    Winston-Salem NC|2016-04-21 00:00:00|
|        26|        163|      62|         42101|  1|42.340833|   -83.0625|UNKNOWN|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|1996-04-06 00:00:00|Parts per million|      None|               24|              100.0|       0.391667|            0.6|             0|null|         51|INSTRUMENTAL - NO...|                null|640 TEMPLE 2ND FLOOR|      Michigan|         Wayne|         Detroit|Detroit-Warren-De...|2016-04-25 00:00:00|
|        42|        101|       4|         42101|  1|40.008889|  -75.09778|  NAD83|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|1990-10-27 00:00:00|Parts per million|      None|               23|               96.0|       0.869565|            2.0|            18|null|         11|INSTRUMENTAL - NO...|Air Management Se...|1501 E. LYCOMING ...|  Pennsylvania|  Philadelphia|    Philadelphia|Philadelphia-Camd...|2016-04-30 00:00:00|
|         6|         71|       1|         42101|  1|34.895007|-117.024484|  NAD83|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|1997-04-28 00:00:00|Parts per million|      None|               23|               96.0|       0.113043|            0.3|             6|null|         93|INSTRUMENTAL - GA...|             Barstow|200 E. BUENA VIST...|    California|San Bernardino|         Barstow|Riverside-San Ber...|2016-04-16 00:00:00|
|         9|          9|      25|         42101|  1|41.309167| -72.923333|  WGS84|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|1999-03-01 00:00:00|Parts per million|      None|               23|               96.0|       0.830435|            1.2|            16|null|         54|INSTRUMENTAL - NO...|           NEW HAVEN|      121 ELM STREET|   Connecticut|     New Haven|       New Haven|New Haven-Milford CT|2016-04-21 00:00:00|
|         6|          9|       1|         42101|  1|38.201852|-120.681567|  NAD83|Carbon monoxide|8-HR RUN AVG END ...|    CO 8-hour 1971|2005-05-06 00:00:00|Parts per million|      None|               24|              100.0|       0.145833|            0.2|             0|   2|       null|                   -|San Andreas-Gold ...|501 GOLD STRIKE R...|    California|     Calaveras|     San Andreas|                null|2016-04-20 00:00:00|
|        51|         59|    1004|         42101|  1|38.868056| -77.143056|  NAD27|Carbon monoxide|              1 HOUR|    CO 1-hour 1971|1994-12-20 00:00:00|Parts per million|      None|               24|              100.0|       0.770833|            1.7|            20|null|         11|INSTRUMENTAL - NO...|                null|6100 ARLINGTON BL...|      Virginia|       Fairfax|   Seven Corners|Washington-Arling...|2016-04-27 00:00:00|
|         1|         73|      28|         42101|  1|33.529444| -86.850278|  WGS84|Carbon monoxide|8-HR RUN AVG END ...|    CO 8-hour 1971|2000-08-08 00:00:00|Parts per million|      None|               24|              100.0|         0.9875|            1.2|            12|  14|       null|                   -|                null|EAST THOMAS FINLE...|       Alabama|     Jefferson|      Birmingham|Birmingham-Hoover AL|2016-04-15 00:00:00|
+----------+-----------+--------+--------------+---+---------+-----------+-------+---------------+--------------------+------------------+-------------------+-----------------+----------+-----------------+-------------------+---------------+---------------+--------------+----+-----------+--------------------+--------------------+--------------------+--------------+--------------+----------------+--------------------+-------------------+
only showing top 20 rows

In [19]:
df3.schema

StructType(List(StructField(state_code,IntegerType,true),StructField(county_code,IntegerType,true),StructField(site_num,IntegerType,true),StructField(parameter_code,IntegerType,true),StructField(poc,IntegerType,true),StructField(latitude,DoubleType,true),StructField(longitude,DoubleType,true),StructField(datum,StringType,true),StructField(parameter_name,StringType,true),StructField(sample_duration,StringType,true),StructField(pollutant_standard,StringType,true),StructField(date_local,TimestampType,true),StructField(units_of_measure,StringType,true),StructField(event_type,StringType,true),StructField(observation_count,IntegerType,true),StructField(observation_percent,DoubleType,true),StructField(arithmetic_mean,DoubleType,true),StructField(first_max_value,DoubleType,true),StructField(first_max_hour,IntegerType,true),StructField(aqi,IntegerType,true),StructField(method_code,IntegerType,true),StructField(method_name,StringType,true),StructField(local_site_name,StringType,true),StructField(address,StringType,true),StructField(state_name,StringType,true),StructField(county_name,StringType,true),StructField(city_name,StringType,true),StructField(cbsa_name,StringType,true),StructField(date_of_last_change,TimestampType,true)))

In [22]:
# Register the DataFrame as a SQL temporary view
df3.createOrReplaceTempView("carbon")

In [137]:
result = spark.sql("SELECT DISTINCT sample_duration FROM carbon")

In [138]:
result.show()

+--------------------+
|     sample_duration|
+--------------------+
|              1 HOUR|
|8-HR RUN AVG END ...|
+--------------------+

In [144]:
#jumlah banyaknya kejadian/update an carbon monoxide pada setiap kota, yang dihitung berdasarkan tanggal kejadian
#format tanggal yyyy/mm/dd

scene = spark.sql("SELECT city_name ,TO_DATE(`date_local`,'YYYY/MM/DD') AS date, COUNT(`date_local`) \
                    FROM carbon \
                    GROUP BY `date_local`,city_name \
                    ORDER BY `date_local` DESC")

In [145]:
scene.show()

+--------------------+----------+-----------------+
|           city_name|      date|count(date_local)|
+--------------------+----------+-----------------+
|        Cedar Rapids|2017-05-01|                1|
|          Des Moines|2017-05-01|                1|
|        Indianapolis|2017-05-01|                1|
|               Ogden|2017-05-01|                1|
|           New Paris|2017-05-01|                1|
|       Oklahoma City|2017-05-01|                2|
|              Dayton|2017-05-01|                1|
|            Portland|2017-05-01|                1|
|           Davenport|2017-05-01|                1|
|         Baton Rouge|2017-05-01|                1|
|  Dentsville (Dents)|2017-05-01|                1|
|           Charlotte|2017-05-01|                2|
|      Salt Lake City|2017-05-01|                1|
|         New Orleans|2017-05-01|                1|
|          Birmingham|2017-05-01|                2|
|               Provo|2017-05-01|                1|
|          Wilmington|2017-05-01|                1|
|               Tulsa|2017-05-01|                1|
|       Not in a city|2017-05-01|                2|
|Indianapolis (Rem...|2017-05-01|                2|
+--------------------+----------+-----------------+
only showing top 20 rows

In [153]:
#menampilkan kota yang memiliki good air quality 
#good air quality memiliki rentang antara 0 dan 50

quality = spark.sql("SELECT city_name, aqi\
            FROM carbon WHERE aqi between 0 and 50 \
            ORDER BY aqi DESC")

In [154]:
quality.show()

+--------------------+---+
|           city_name|aqi|
+--------------------+---+
|             Phoenix| 50|
|             Norfolk| 50|
|              Denver| 50|
|            San Juan| 50|
|            Portland| 50|
|              Nashua| 50|
|          Birmingham| 50|
|             Spokane| 50|
|         New Orleans| 50|
|            San Jose| 50|
|              Pomona| 50|
|              Denver| 50|
|               Chico| 50|
|        Redwood City| 50|
|               Salem| 50|
|Boise (corporate ...| 50|
|             Phoenix| 50|
|           Las Vegas| 50|
|             Spokane| 50|
|            Mexicali| 50|
+--------------------+---+
only showing top 20 rows

In [180]:
#kota yang terakhir meng update data carbon monoxide di kotanya


update = spark.sql("SELECT city_name ,date_of_last_change \
                FROM carbon \
                order by TO_DATE(`date_local`,'YYYY/MM/DD') DESC limit 1")

In [181]:
update.show()

+---------+-------------------+
|city_name|date_of_last_change|
+---------+-------------------+
|    Provo|2017-05-03 00:00:00|
+---------+-------------------+